body {
    background-color: #eee;
    padding-top: 70px;
}

#menu-panel {
    float: top;
    color: #bdbdbd;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.page-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

/* Profile Content */
.page-content {
    padding: 20px;
    background: #fff;
    min-height: 400px;
}

.profile-userpic img {
    width: 300px;
    height: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile-user {
    text-align: center;
    margin-top: 20px;
}

.profile-user-name {
    text-align: left;
    padding: 8px;
}

.profile-user-contact {
    text-align: left;
    color: #4184d1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}